<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <form *ngIf="!isLoggedIn" name="form" id="auth-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate> <!--method="post"-->
            <!-- username input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="username-input">Email</label>
              <input type="text" name="username" id="username-input" class="form-control form-control-lg" [(ngModel)]="form.username" placeholder="Saisir votre login" #username="ngModel" required />
              <div *ngIf="username.errors && f.submitted" style="color: red;">
                Login email is necessary!
              </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="password-input">Password</label>
              <input type="password" name="password" id="password-input" class="form-control form-control-lg" [(ngModel)]="form.password" placeholder="Saisir votre mot de passe" #password="ngModel" required />
              <div *ngIf="password.errors && f.submitted" style="color: red;">
                Password is necessary!
              </div>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="rememberMeCheckbox" />
                <label class="form-check-label" for="rememberMeCheckbox">
                  Se souvenir de moi
                </label>
              </div> -->
              <!-- <a href="#!" class="text-body">Mot de passe oublié?</a> -->
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn button-class btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign in</button>
            </div>
          </form>
          <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte? <a href="#!" class="link" style="color: rgb(143, 52, 241);">S'inscrire</a></p> -->
        </div>
        <!-- <div class="alert alert-success" *ngIf="isLoggedIn">
          Connecté en tant que <span *ngFor="let role of LoggedInUserRoles">{{ role.roleLibelle }}</span>.
        </div> -->
      </div>
    </div>

    <!--footer
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2023. All rights reserved.
      </div>
  
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
       Right 
    </div> -->
  </section>