.home-container{
    height: 753px;
    background-color: rgb(238, 238, 238);
}
.home-body-container{
    position: absolute;
    top: 81px;
    width:80%;
    height: 650px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}
.sidebar{
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: -30px;
}
.sidebar,.home-body-container{
    display: inline-block;
}