
.button-custom-style{
    border: none;
    background: none;
    color: rgb(132, 55, 180);
}

.create-offer-btn{
    border: none;
    background-color: white;
    font-size: 15px;
}

.input-div{
    display:inline-block;
    /*background: rgb(190, 190, 190);*/
    margin-right: 50px;
}

.job-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.label-elem{
    margin-top: 7px;
    margin-left: 9px;
}

/* ====================================== Tab styles =================================*/
.tab-navigation {
    display: flex;
    overflow: hidden;
    border: none;
    justify-content: center;
}
/* Style the buttons that are used to open the tab content */
.tab-navigation button {
background-color: inherit;
border: 1px solid rgb(226, 226, 226);
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab-navigation button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-navigation button.active {
background-color: #ffffff;
border: none;
color: rgb(54, 131, 255);
font-weight: bold;
}

/* Style the tab content */
.tabcontent {
padding: 6px 12px;
border: 1px solid #ccc;
border-top: 1px solid rgb(240, 240, 240);
}