<div class="job-list">
  <button type="button" class="btn create-offer-btn" name="create-offer-btn" data-bs-toggle="modal" data-bs-target="#createOfferModal" title="Post a new offer">
    + Post New Job Offer
  </button>
    <div *ngFor="let job of filteredListMyOffers" class="job-card">
        <p>{{ job.poster.name }} {{ job.poster.lastName }} :</p>
        <h5>{{ job.title }}</h5>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="color:#8024db">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>
            {{ job.jobLocation}}
        </span>
        <p><b>Job Description: <br/></b>{{ job.jobDesc }}</p>

        <!--view detail icon-->
        <button type="button" class="btn candidate-detail-btn" name="candidates_btn" data-bs-toggle="modal" data-bs-target="#candidatesModalLabel" (click)="assignSelectedOffer(job)" title="Candidates">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-text-window-reverse" viewBox="0 0 16 16">
                <path d="M13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"/>
                <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM2 1a1 1 0 0 0-1 1v1h14V2a1 1 0 0 0-1-1H2zM1 4v10a1 1 0 0 0 1 1h2V4H1zm4 0v11h9a1 1 0 0 0 1-1V4H5z"/>
            </svg> View Candidates
        </button>
</div>

<!-- ================================================ candidates modal ================================================ -->
<div class="modal fade" id="candidatesModalLabel" tabindex="-1" aria-labelledby="candidatesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="listCandidatesModalLabel">Candidates for the job: <strong>{{selectedOffer.title}}</strong></h1>
          <button type="button" (click)="clearCandidates()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover" id="candidates-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let candidate of selectedCandidates">
                    <td>{{candidate.user.name}}</td>
                    <td>{{candidate.user.lastName}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

<!-- ======================== create offer modal ======================== -->
<div class="modal fade" id="createOfferModal" tabindex="-1" aria-labelledby="createOfferModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createOfferModalLabel">New job offer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form name="form" id="create-offer-form" (ngSubmit)="f.form.valid && createOfferForm()" #f="ngForm" novalidate> 
            <div class="modal-body create-offer-modal-body">
              <div class="tab-navigation">
                  <button type="button" class="tablinks" (click)="setActiveCreateTab('jobInfoTab')"  [class.active]="createOfferModal_ActiveTab === 'jobInfoTab'">Job Info</button>
                  <button type="button" class="tablinks" (click)="setActiveCreateTab('companyInfoTab')" [class.active]="createOfferModal_ActiveTab === 'companyInfoTab'">Company Info</button>
              </div>
              <!-- Tab Contents -->
              <!-- Job info tab -->
              <div class="tab-content" *ngIf="createOfferModal_ActiveTab === 'jobInfoTab'">
                  <div class="form-wrapper" style="border: 1px solid rgb(229, 216, 239); padding: 10px; margin-bottom: 10px;">
                      <div class="input-div">
                          <div class="input-group mb-3" style="width:150px;">
                              <div class="form-group">
                                  <label class="label-elem" for="jobTitleInput">Job Title <span style="color: red">*</span></label>
                                  <input type="text" class="form-control input-elem" aria-label="jobTitle" aria-describedby="basic-addon1" id="jobTitleInput" name="jobTitle" #title="ngModel" [(ngModel)]="form.jobTitle" required>
                                  <div *ngIf="title.errors && f.submitted" style="color: red;">
                                     Job Title obligatoire!
                                    </div>
                              </div>
                          </div>
                          <div class="input-group mb-3" style="width:150px;">
                              <div class="form-group">
                                  <label class="label-elem" for="wageInput">Wage <span style="color: red">*</span></label>
                                  <input type="text" class="form-control input-elem" aria-label="wage" aria-describedby="basic-addon1" id="wageInput" name="wage" #wage="ngModel" [(ngModel)]="form.wage" required>
                              </div>
                              <div *ngIf="wage.errors && f.submitted" style="color: red;">
                                  Wage obligatoire!
                                </div>
                          </div>
                          <div class="input-group mb-3" style="width:150px;">
                            <div class="form-group">
                                <label class="label-elem" for="expInput">Experience in years <span style="color: red">*</span></label>
                                <input type="text" class="form-control input-elem" aria-label="exp" aria-describedby="basic-addon1" id="expInput" name="exp" #exp="ngModel" [(ngModel)]="form.expYears" required>
                                <div *ngIf="exp.errors && f.submitted" style="color: red;">
                                    Experience obligatoire!
                                  </div>
                            </div>
                        </div>
                      </div>
                      <div class="input-div">
                          <div class="input-group mb-3" style="width:200px;">
                              <div class="form-group">
                                  <label class="label-elem" for="jobDescInput">Job description <span style="color: red">*</span></label>
                                  <input type="text" class="form-control input-elem" aria-label="jobDesc" aria-describedby="basic-addon1" id="jobDescInput" name="jobDesc" #jobdesc="ngModel" [(ngModel)]="form.jobDesc" required>
                                  <div *ngIf="jobdesc.errors && f.submitted" style="color: red;">
                                      Job Description obligatoire!
                                    </div>
                              </div>
                          </div>
                          <div class="input-group mb-3" style="width:200px;">
                            <div class="form-group">
                                <label class="label-elem" for="jobLocationInput">Job location <span style="color: red">*</span></label>
                                <input type="text" class="form-control input-elem" aria-label="jobLocation" aria-describedby="basic-addon1" id="jobLocationInput" name="jobLocation" #joblocation="ngModel" [(ngModel)]="form.jobLocation" required>
                                <div *ngIf="joblocation.errors && f.submitted" style="color: red;">
                                    Job Location obligatoire!
                                  </div>
                            </div>
                          </div>
                          <div class="input-group mb-3" style="width:200px;">
                            <div class="form-group">
                                <label class="label-elem" for="roleResposInput">Role responsibilities <span style="color: red">*</span></label>
                                <input type="text" class="form-control input-elem" aria-label="roleRespos" aria-describedby="basic-addon1" id="roleResposInput" name="roleRespos" #respos="ngModel" [(ngModel)]="form.roleRespos" required>
                                <div *ngIf="respos.errors && f.submitted" style="color: red;">
                                   Role Responsibilities obligatoire!
                                  </div>
                            </div>
                          </div>
                      </div>
                      <div class="input-div">
                          <div class="input-group mb-3" style="width:200px;">
                            <div class="form-group">
                                <label class="label-elem" for="roleReqsInput">Role requirements <span style="color: red">*</span></label>
                                <input type="text" class="form-control input-elem" aria-label="roleReqs" aria-describedby="basic-addon1" id="roleReqsInput" name="roleReqs" #reqs="ngModel" [(ngModel)]="form.roleReqs" required>
                                <div *ngIf="reqs.errors && f.submitted" style="color: red;">
                                   Role Requirements obligatoire!
                                  </div>
                            </div>
                          </div>
                          <div class="input-group mb-3" style="width:200px;">
                            <div class="form-group">
                                <label class="label-elem" for="startDateInput">Start date <span style="color: red">*</span></label>
                                <input type="date" class="form-control input-elem" aria-label="startDate" aria-describedby="basic-addon1" id="startDateInput" name="startDate" #start="ngModel" [(ngModel)]="form.startDate" required>
                                <div *ngIf="start.errors && f.submitted" style="color: red;">
                                   Start date obligatoire!
                                  </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- company info tab -->
              <div class="tabcontent" *ngIf="createOfferModal_ActiveTab === 'companyInfoTab'">
                  <div class="form-wrapper">
                      <div class="input-div">
                          <div class="input-group mb-3" style="width:150px;">
                              <div class="form-group">
                                  <label class="label-elem" for="employerInput">Employer <span style="color: red">*</span></label>
                                  <input type="text" class="form-control input-elem" aria-label="employer" aria-describedby="basic-addon1" id="employerInput" name="employer" #employer="ngModel" [(ngModel)]="form.employer" required>
                                  <div *ngIf="employer.errors && f.submitted" style="color: red;">
                                      Employer obligatoire!
                                    </div>
                              </div>
                          </div>
                          <div class="input-group mb-3" style="width:200px;">
                            <div class="form-group">
                                <label class="label-elem" for="companyDescInput">Company description <span style="color: red">*</span></label>
                                <textarea rows="4" cols="50" class="form-control input-elem" aria-label="companyDesc" aria-describedby="basic-addon1" id="companyDescInput" name="companyDesc" #companydesc="ngModel" [(ngModel)]="form.companyDesc" required></textarea>
                                <div *ngIf="companydesc.errors && f.submitted" style="color: red;">
                                    Company description obligatoire!
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="input-div">
                        <div class="input-group mb-3" style="width:150px;">
                          <div class="form-group">
                              <label class="label-elem" for="companyHQInput">Company HQ <span style="color: red">*</span></label>
                              <input type="text" class="form-control input-elem" aria-label="employer" aria-describedby="basic-addon1" id="companyHQInput" name="companyHq" #hq="ngModel" [(ngModel)]="form.companyHq" required>
                              <div *ngIf="hq.errors && f.submitted" style="color: red;">
                                 Company HQ obligatoire!
                                </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="submit" class="btn create-offer-btn colored-button" name="create-offer-btn" id="create-offer-btn">Save</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
