.job-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.job-list {
    max-height: 100%; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
  }